<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ecommerce App</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/cart.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cart.css') }}">
</head>
  <body>
    <div class='header'>
      <div class='title'>
        <h4>MakeEasy - Ecommerce</h4>
        <p>
          <strong>Cart:</strong>
          <a href="cart.html" id="cart_value"></a>
          <a href="" class="clear_cart"><i class="far fa-trash-alt"></i></a>
        </p>
      </div>
    </div>
    <div class='body'>
      <div class='container'>
        <div class='card' id="first_product">
          <div class='card-content'>
            <div class='top-bar'>
              $
              <span class="price">
                78.95
              </span>
              <span class='float-right lnr lnr-heart'></span>
              <a href="#" class="add_to_cart cart_button ml-3" id="first">
                Add To Cart
              </a>
            </div>
            <div class='img'>
              <img src='https://images-na.ssl-images-amazon.com/images/I/51zoCSGjgeL._AC_SX679_.jpg'>
            </div>
          </div>
          <div class='card-description'>
            <div class='title'>
              BEATS HEADPHONE
            </div>
            <div class='cart'>
              <span class='lnr lnr-cart'></span>
            </div>
          </div>
          <div class='card-footer'>
            <div class='span'>
              RED
            </div>
            <div class='span'>
              BEATS
            </div>
            <div class='span'>
              HEADPHONE
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
