{% extends "base.html" %}

{% block content %}
<div class="home-background-image" style="background: url('/static/images/Green-Ecommerce.png');">
    <div class="wrapper">
        <div class="hero-img"></div>
        <div class="head--line">
            <p>Streamlining Your Life</p>
            <h1>Effortless Solutions for Everyday Tasks</h1>
            <svg class="pointer" viewBox="0 0 16 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.29289 131.707C7.68341 132.098 8.31658 132.098 8.7071 131.707L15.0711 125.343C15.4616 124.953 15.4616 124.319 15.0711 123.929C14.6805 123.538 14.0474 123.538 13.6568 123.929L7.99999 129.586L2.34314 123.929C1.95262 123.538 1.31945 123.538 0.928927 123.929C0.538402 124.319 0.538402 124.953 0.928927 125.343L7.29289 131.707ZM7 -4.37114e-08L6.99999 131L8.99999 131L9 4.37114e-08L7 -4.37114e-08Z" fill="black"/>
            </svg>
        </div>
    </div>
</div>
<div class="wrapper">
    <p class="just--for--you">Just for you</p>
    <div class="large--pictures">
        {% for product in products|sort(attribute='name') %}
        <section class="picture">
  		    <div class="img--wrapper">
          		{% if product.image %}
                {% set productId = product.id %}
                {% set categoryId = product.category_id %}
                {% set productName = product.name %}
                <a href="{{ url_for('app_main.item', product_id=productId, category_id=categoryId, product_name=productName) }}">
                    <img src="{{ product.image }}" alt="">
                </a>
          		{% endif %}
            </div>
            <div class="small_details">
       	    <p class="price">${{ product.price }} - ${{ product.price + 2}}</p>
                <p class="quantity">Quantity: 2-pieces</p>
       		</div>
        </section>
        {% endfor %}
    </div>
</div>

{% endblock %}   
