{% extends "base.html" %}

{% block content %}
<div class="front-img" style="background-image: url('static/images/Green-Ecommerce.png');">
  <h1>About GebeyaHUB</h1>
</div>
<div class="wrapper">
  <h2><i class="fas fa-shopping-cart"></i>GebeyaHUB</h2>
  <p>
  GebeyaHUB is an online platform that aims to revolutionize the way people shop and trade in Ethiopia by connecting buyers and sellers from across the country. This project is our own initiative and not just a requirement from Holberton School. It serves as a Portfolio Project for Holberton School, showcasing our skills and expertise in web development.
  </p>
  <h2><i class="fas fa-lightbulb"></i>Inspiration</h2>
  <p>
  The inspiration behind GebeyaHUB comes from our deep understanding of the Ethiopian marketplace and the potential for digital transformation in the country. We have witnessed firsthand the challenges faced by individuals and businesses in accessing a diverse range of products and services. Limited access to markets, geographic barriers, and inefficient trading practices have hindered the growth of businesses and constrained consumer choices.
  </p>
  <p>
  Motivated by the desire to address these challenges, we embarked on developing GebeyaHUB. Our goal is to create an inclusive and convenient platform that bridges the gap between buyers and sellers, providing them with a seamless online shopping and trading experience. We believe that by leveraging technology, we can empower individuals and businesses to thrive in Ethiopia's vibrant marketplace.
  </p>

  <h2><i class="fas fa-hands-helping"></i>Collaborative Approach</h2>
  <p>
  As a cohesive team, consisting of Nathan Assefa Kassa and Mahlet Seifu Feleke, we have been working closely together throughout the development process of the GebeyaHUB project. Although our roles are not strictly divided, we contribute to various aspects of the project, including development, design, and user experience.
  </p>

  <p>
  Working as a dedicated team, we bring together our unique skills and synergy to ensure the delivery of a high-quality e-commerce website. By developing our own solution, we have the flexibility to incorporate any unique features or design elements that we believe will enhance the user experience. Our aim is to showcase our problem-solving skills, apply best practices, and utilize modern technologies while keeping the project scope manageable and aligned with our portfolio goals.
  </p>
  <div class="team-members">
    <h2><i class="fas fa-users"></i>Team Members</h2>
    <div class="columns">
    <ul class="team">
      <li class="members">
        <a href="https://www.linkedin.com/in/nathan-assefa-9ba017253/" target="_blank"><i class="fab fa-linkedin"></i>Nathan Assefa Kassa - LinkedIn</a>
        <a href="https://github.com/nathan-assefa" target="_blank"><i class="fab fa-github"></i>Github</a>
        <a href="https://twitter.com/nathanassefa" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
      </li>
      <li class="members">
        <a href="https://www.linkedin.com/in/mahlet-seifu-feleke" target="_blank"><i class="fab fa-linkedin"></i>Mahlet Seifu Feleke - LinkedIn</a>
        <a href="https://github.com/Mahlet2123" target="_blank"><i class="fab fa-github"></i>Github</a>
        <a href="https://twitter.com/mahletseifu21" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
      </li>
    </ul>
    </div>
  </div>

  <div class="github-repo">
    <h2><i class="fab fa-github"></i>GitHub Repository</h2>
    <p>
      You can find the project's source code on GitHub:
      <a href="https://github.com/nathan-assefa/Online_store" target="_blank">GebeyaHUB Repository</a>
    </p>
  </div>
</div>
  <style>
    /* Add some basic styling */
    body {
      width: 100%;
      box-sizing: border-box;
    }

    .wrapper {
      text-align: center;
      width: 85%;
      margin-bottom: 9em;
      font-family: Poppins;
      margin-left: auto;
      margin-right: auto;
     }

    h1 {
      text-align: left;
    }

    .front-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 2px;
    }

    .front-img h1 {
      color: black;
      font-size: 36px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-align: left;
    }

    p {
      text-align: justify;
      word-spacing: .1em;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    h2 i {
      margin-right: 10px;
    }

    p {
      text-align: justify;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .members {
      margin-bottom: 10px;
    }

    .members a {
      display: inline-block;
      color: #333;
      text-decoration: none;
      margin-right: 10px;
    }

    .members a i {
      margin-right: 10px;
    }

    .columns .members{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 20px;
    }

    .team {
      display: flex;
      list-style-type: none;
      padding: 0;
      flex: 1;
      margin-right: 20px;
      margin-top: 20px;
    }

    .team ul li {
      margin-bottom: 10px;
    }
  </style>
  {% endblock %} 
