    <link rel="stylesheet" href="{{ url_for('static', filename='styles/single_product.css') }}?cache_id={{ cache_id }}">
    {% extends "base.html" %}

    {% block content %}
    </div>
    <!-- ***** Product Area Starts ***** -->
    <div class="single--wrapper">
        <section class="single-item">
            <div class="single--container flex">
                <div class="img--header">
			<a href="#"><p class="visit--category">Visit the <span>{{ product.category_name }}</span> store</p></a>
                    <p class="illustration">Discover quality products designed to enhance your life. Shop now for a seamless online experience!</p>
                    <a href="/store/v1/items"><p class="choice">GebeyaHub's <span>Choice</span></p></a>
                </div>
                <div class="left">
                    <div class='product--card' id="{{ product.id }}_id">
                        <div class='card-content'>
                            <div class='img'>
				    <img class="slide" src='{{ product.main_image }}'>
                            </div>
                        </div>
                        <div class='card-detail'>
                            <div class='title'>
				    {{ product.name }}
                            </div>
                            <div class="pricing--info new--cart" data-cart="{{ product.cart_id }}">
				    $<span class="pro--price">{{ product.price }}</span>
                            </div>
			    <p class="truncated description single"><span>Details: </span>{{ product.description }}</p>
                            <div class="cta-btns">
				    <a href="#" class="secondary-cta cart_button add_to_cart ml-3" data-id="{{ product.id }}" data-cart="{{ product.cart_id }}">
                                    <div class="btn--container">
					<button class="common--feature add_cart">Add to Cart</button>
					<a href="/store/v1/items"><button class="common--feature browse--products">Browse Other Products</button></a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="option flex">
                        <div class="images">
			{% for img in product.images %}
			    <div><img class="item_images" src="{{ img.link }}" alt="..." onclick="img('{{ img.link }}')"/></div>
			{% endfor %}
			</div>
                    </div>
                </div>
          </div>
        </section>
        <!-- ***** Product Area Ends ***** -->
        <p class="related--products">Related Products</p>
        <div class="img--wrapper">
	    {% for product in related_products|sort(attribute='name') %}
            <div class="same--prodcut">
                <div class="second">
		    <a href="/store/v1/item/{{ product.id }}">
			    <img class="related--img" src="{{ product.image }}" alt="">
                    </a>
                </div>
		<p class="pro--price related--img--price">${{ product.price }}</p>
                <a href="/store/v1/item/{{ product.id }}"><button class="common--feature view--more">View More</button></a>
            </div>
	    {% endfor %}
        </div>
    </div>
    <script>
        function img(anything) {
            document.querySelector('.slide').src = anything;
        }
        function change(change) {
            const line = document.querySelector('.home');
            line.style.background = change;
        }
    </script>
    {% endblock %}
