body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}
.single--wrapper {
    margin-top: 1.8em;
    margin-left: 1em;
    margin-right: 1em;
}
.img--header {
    font-size: .8rem;
    line-height: .7em;
}
.visit--category {
    color: rgb(65, 149, 65);
    font-size: .9rem;
}
.visit--category span {
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.illustration {
    line-height: 1.2em;
    margin-top: -.4em;
}

.choice {
    background: rgb(35, 34, 34);
    color: white;
    width: 40%;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    margin-top: -.2em;
    margin-left: .8em;
}

.choice span {
    color: rgb(208, 161, 74);
}

.choice::after {
    content: "";
    top: .8em;
    right: -.8em;
    width: 19px;
    height: 29px;
    background: white;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.choice::before {
    content: "";
    top: 0;
    left: -.8em;
    width: 19px;
    height: 29px;
    background-color: rgb(209, 148, 33);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.option {
    display: none;
}

.pricing--info {
    color: rgb(163, 157, 157);
    font-family: Montserrat;
    font-size: 1.5em;
}

.pro--price {
    font-size: 2rem;
    color: rgb(209, 148, 33);
}

.common--feature {
    width: 80%;
    padding: 12px 6px;
    border-radius: 1.9em;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}

.add_cart {
    margin-top: 2em;
    background-color: rgb(65, 149, 65);
}
.browse--products {
    margin-top: 1em;
    background-color: rgb(209, 148, 33);
}
.related--products {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 2em;
}

.card-content {
  margin-top: 4em;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product--card .card-content .img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20em;
  justify-content: bottom;
  align-content: bottom;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.3em;
}

.product--card .card-content .img img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.product--card .card-description .title {
  text-transform: uppercase;
  text-align: left;
}

.product--card .card-description .cart {
  float: right;
  cursor: pointer;
}

.product--card .card-detail {
  width: 100%;
}

.single {
  margin-top: 1em;
  line-height: 1.4em;
  text-align: left;
}

.single span {
  color: rgb(41, 40, 40);
  font-weight: bold;

}

.img--wrapper {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.same--prodcut {
  flex-basis: 500px;
  width: 100%;
  margin-top: 3em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2em;
}

.same--prodcut:hover {
  border-bottom : 1px solid rgb(65, 149, 65);
}

.second {
  height: 10em;
}

.related--img {
  max-width: 70%;
  max-height: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  margin-bottom: 2em;
}
.related--img--price {
  position: absolute;
  top: .9em;
  left: 2em;
  margin-top: -.7em;
  text-align: center;
  font-size: 1.5em;
}

.view--more {
  font-weight: bold;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.view--more:hover {
  background: rgb(65, 149, 65)
}

@media screen and (min-width: 585px) {
  .single--wrapper {
    margin: 2em 4em;
  }
}

@media screen and (min-width: 690px) {
  .btn--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .common--feature {
    margin: 0;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3em 1em;
  }
  .browse--products {
    margin-left: 1em;
  }
}

@media screen and (min-width: 777px) {
  .related--products{
    margin-top: 6em;
  }
  .single--container {
    margin-left: auto;
    width: 55%;
  }
  .card-content {
    position: absolute;
    width: 40%;
    height: 80vh;
    left: 1em;
    top: -2em;
  }

  .choice {
    width: 13em;
    padding-left: 3em;
  }
  .product--card .card-content .img {
    margin-top: 7em;
  }
}

@media screen and (min-width: 882px) {
  .single--wrapper {
    margin: 3em 4em;
  }
  .same--prodcut {
    flex-basis: 300px;
  }
  .card-content {
    top: -2.5em;
    width: 35%;
  }
  .product--card .card-content .img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: bottom;
    align-content: bottom;
    text-align: center;
  }

  .product--card .card-content .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;;
  }
}

@media screen and (min-width: 1075px) {
  .same--prodcut {
    flex-basis: 400px;
  }
  .single--wrapper {
    margin: 4em 4em;
  }
  .single--container {
    width: 40%;
    margin-right: 8em;
  }
  .card-content {
    margin-top: 3em;
    margin-left: 9em;
  }
  .product--card .card-content .img img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
  }

  .option {
    display: block;
    position: absolute;
    left: 6em;
    top: 11em;
    width: 40px;
    height: 352px;
  }
  .images {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.3em;
  }
  .option img {
    max-width: 100%;
    max-height: 48px;
    border: 1px solid rgb(65, 149, 65);
    margin: .2em 0;
    padding: .2em .3em;
    object-fit: cover;
  }
}
