html,
body {
  font-family: "Kanit", sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}

.description {
  font-family: Poppins;
  text-transform: lowercase;
  color: black;
  margin-left: .5em;
  margin-top: .2em;
  margin-bottom: .7em;
  padding: 2px;
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.truncated {
  text-overflow: ellipsis;
  white-space: normal;
}


.card-detail .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Poppins;
  color: rgb(50, 50, 50);
}

.header .title p{
  font-size: 15px;
}

.body {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 50px;
}

.card--container {
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}


.card {
  display: flex;
  justify-content: center;
  height: 10em;
  width: 90%;
  margin: 1em 0;
  background: white;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
  transition: 0.2s ease-in;
}

.card-content {
  width: 50%;
}

.card .card-content .img {
  width: 100%;
  height: 100%;
  justify-content: bottom;
  align-content: bottom;
  text-align: center;
}

.card .card-content .img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;;
}

.card .card-description {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  width: calc(100%-20px);
}
.card .card-description .title {
  text-transform: uppercase;
  text-align: left;
}


.card .card-description .cart {
  float: right;
  cursor: pointer;
}

.card .card-detail {
  background-color: rgb(237, 242, 235);
  height: auto;
  padding: 0.3em;
  border-top: 0.5px solid #ececec;
  letter-spacing: 0.1em;
  font-size: 11px;
  color: white;
  width: 50%;
}

.card .card-detail .span {
  margin: 5px;
  width: auto;
  background: #dedede;
  padding: 4px 7px;
  border-radius: 2px;
  font-weight: 100;
  cursor: pointer;
}
.card .card-detail .span:hover {
  background: #aaaaaa;
}

.card:hover {
  transition: 0.2s ease-in;
  transform: translateY(-10px);
  box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}

.cta-btns {
    margin: 0 0;
}

.cta-btns, .secondary-cta {
    display: flex;
    gap: 2em;
}

.secondary-cta {
  margin-top: -1em;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: rgb(128, 124, 124);
  display: block;
  padding: 1em 0;
}

.secondary-cta svg {
  width: 20px;
  transition: transform .3s;
}

.secondary-cta:hover svg {
    transform: translateX(10px);
}

.secondary-cta:hover {
    text-decoration: underline;
}



.title {
  margin-top: .8em;
  margin-left: .8em;
}

.price--info {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 1.2rem;
  color: rgb(233, 45, 45);;
  margin-bottom: 0;
  margin-left: .5em;
  margin-bottom: .5em;
}
.ml-3{
  margin-left: 10px;
}

@media screen and (min-width: 650px) {
  .card--container {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: -1em;
  }
}

@media screen and (min-width: 700px) {
  .card--container {
    justify-content: space-between;
  }
  .card {
    flex-basis: 260px;
  }
}

@media screen and (min-width: 700px) {
  .card--container {
    justify-content: space-around;
    margin-left: 4em;
    margin-right: 4em;
  }
  .card {
    flex-basis: 260px;
  }
}

@media screen and (min-width: 800px) {
  .card--container {
    justify-content: space-around;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: -2em;
  }
}

@media screen and (min-width: 956px) {
  .card--container {
  justify-content: space-between;
  }
  .card {
    display: block;
    height: 19em;
    margin-top: 1.5em;
    position: relative;
  }

  .card-detail .title {
    position: absolute;
    top: 0;
    font-size: .9rem;
  }

  .card .card-content .img {
    margin-top: 2.9em;
    width: 100%;
    height: 10em;
    position: relative;
  }
  .card .card-content .img img {
    position: absolute;
    max-width: 60%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card .card-detail {
    width: unset;
    height: 40%;
  }
  .description {
    -webkit-line-clamp: 2;
  }

  .card-content {
    width: unset;
  }
}
