.wrapper--base {
    display: flex;
    justify-content: center;
}

.header--wrapper {
    position: fixed;
    top: 1em;
    width: 100%;
    height: 3em;
    background: white;
    z-index: 999;
}

header {
    top: 1.7em;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    z-index: 111;
}

.auth {
    position: fixed;
    top: 2.3em;
    right: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    padding: 0 1em;
    border-radius: 1.9em;
    height: 2.2em;
}

.auth img {
    margin-top: .6em;
    width: 1.3em;
    display: flex;
    align-items: center;
    height: 1.3em;
    margin-left: .4em;
}

.number--of--items {
    position: fixed;
    top: 2.2em;
    right: 7.5em;
    width: 20px;
    height: 20px;
    border: 1px green solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: .9em;
    z-index: 99999;
}

.cart {
    display: inline-block;
    margin-top: .6em;
    width: 2em;
    height: 2em;
}

.signin {
    width: 5em;
    padding: 2px 4px;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 1.9em;
    font-size: .8rem;
    background: rgb(231, 226, 226);
    cursor: pointer;
}


.signin:hover{
    background: #77bf12;
}

header a {
    text-decoration: none;
    font-size: 1.3rem;
}

.logo {
    color: black;
    font-weight: bold;
}

.logo span {
    color: #18bd09;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    background: #d3e8b6;
    width: 50%;
    height: 100vh;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    z-index: 1;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
}

.nav > ul > li > a {
    padding: 0.75em 2em;
    display: block;
    color: black;
}

.nav > ul > li > a:hover {
    background: rgb(242, 239, 239);
}


.close {
    width: 2.5em;
    float: right;
    margin: 2em;
}

.menu {
   width: 3em;
   position: fixed;
   top: 2em;
   right: 2.2em;
   stroke: black;
}

/*
.menu {
    width: 3rem;
    margin-top: -2em;
    stroke: black;
}*/

.menu path {
    fill: black;;
}

.open--nav {
    transform: translateX(0%);
}

button {
   cursor: pointer
}

@media only screen and (min-width: 680px) {
    .wrapper--base {
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }

    .header--wrapper {
        height: 6em;
	top: 1.4em;
    }

    header {
	top: 5.7em;
        width: 85%;
	margin-top: -2.9em;
    }

    .auth {
        margin-top: 1.8em;
        margin-right: 2em;
    }

    .number--of--items {
        margin-top: 2em;
        right: 9.5em;
    }

    .auth {
        top: 1em;
        right: 7em;
        display: flex;
        align-items: flex-end;
        z-index: 2;
    }

    .auth img {
        width: 2.5em;
        height: 2.5em;
    }

    .number--of--items {
        top: -.5em;
        right: 10em;
        width: 20px;
        height: 20px;
        font-size: 1em;
    }

    .signin {
        width: 5em;
        padding: 6px 12px;
        font-size: 1rem;
        margin-right: 1em;
    }
}

@media only screen and (min-width: 865px) {
    .menu {
        display: none;
    }

    header {
        justify-content: unset;
    }

    .nav {
        transform: translateX(0%);
        width: auto;
        height: auto;
        background: unset;
        display: flex;
        text-align: center;
        position: unset;
        margin-top: -8.5em;
    }

    .logo {
        margin-right: auto;
        margin-right: 2em;
    }

    .about--us {
        width: 25em;
	margin-left: -.9em;
    }

    nav ul {
        display: flex;
        gap: 1em;
        margin-right: 16em;
    }

    .nav ul li a {
        padding: .6em;
        position: relative;
        font-size: 1rem;
    }

    .nav ul li a:hover{
        background: unset;
    }

    .nav ul li a.active:before {
        position: absolute;
        content: "";
        width: 35%;
        height: 1px;
        border-bottom: 2px solid black;
        bottom: -6px;
    }

    nav ul li a:before {
        position: absolute;
        content: "";
        width: 0%;
        height: 1px;
        border-bottom: 2px solid rgb(152, 152, 152);
        bottom: -6px;
        transition: width .3s;
    }

    nav ul li a:hover:before {
        width: 35%;
    }

    nav .close {
        display: none;
    }

    .auth {
        top: 1em;
        right: 1em;
        display: flex;
        align-items: flex-end;
        z-index: 999;
    }

    .auth img {
        width: 2.5em;
        height: 2.5em;
    }

    .number--of--items {
        top: -.6em;
        right: 4em;
        width: 20px;
        height: 20px;
        font-size: 1em;
    }

    .signin {
        width: 5em;
        padding: 6px 12px;
        font-size: 1.2rem;
        margin-right: 1.5em;
    }
}

@media only screen and (min-width: 990px) {
    header {
        width: 90%;
    }
}
