<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LoginForm</title>
        <link rel="stylesheet" href="static/styles/login_style.css">
	</head>
	<body>
        <div class="wrapper" style="background-image: url('static/images/bg-registration-form-2.jpg');">
            <div class="inner">
    	    	<form action="" method="POST">
                    <h3>Login Form</h3>
		    	    {{ form.hidden_tag() }}
                    <div class="form-wrapper">
                        <!-- User Name input -->
                        {{ form.email }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-wrapper">
    		 	        <!-- Password input -->
	    	            {{ form.password }}
                        {% if form.password.errors %}
                            {% for error in form.email.errors %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <!-- Checkbox -->
                        {{ form.remember() }} {{ form.remember.label }} 
                    </div>
                    <!-- Submit button -->
                    {{ form.submit}}
					<div>
						<p>Not a member? <a href="{{url_for('register')}}">Register</a></p>
					</div>
    	    	</form>
            </div>
        </div>
	</body>
</html>
